/* topEachPage.css */

.rectangle-nav {
    /* Styles pour la barre de navigation en haut de la page */
}

.nav-bar-rectangle {
    /* Styles pour le rectangle contenant "NEWS & EVENTS" */
}

.blockdivbardav{
    width: 50%;
}

.categories{
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.news-section {
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.line1 a {
    color: black;
}


.news-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.news-block img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.news-details {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.know-more {
    margin-right: auto;
}

.sidebar {
    flex: 0.3;
}

.sidebar label{
    font-size: 1.6rem;
}

.news-details .dotted-line {
    width: 100%;
    border: none;
    border-top: 2px dotted #ccc;
    margin: 10px 0;
}

.search {
    margin-bottom: 20px;
    display: flex;
}


#keyword {
    width: 100%;
    padding: 5px;
}

#search-button {
    padding: 5px 10px;
    background-color: #002C4B;
    color: white;
    border: none;
}

.moreabout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categories h3 {
    margin-bottom: 10px;
}

.categories ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.categories li {
    margin-bottom: 5px;
}

.categories hr{
    width : 100%;
}

.news-details h2{
    font-size: 2rem;
    margin:0;
    align-items: flex-start;
    display: flex;
    margin-bottom: 0.5rem;
}

.line{
    display: flex;
    justify-content: center;
}

li{
    margin: 0;
    padding: 0;
}

.line a{
    text-decoration: none;
    color: darkred;
}
