.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.img-container {
    margin-right: 1em;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .img-container {
        margin-right: 2em;
    }

    .text-container {
        flex: 1;
    }
}
